.judul {
	margin-top: 50px;
}
.edit a{
	margin-top: 70px!important;
}
.container{
	background-color: white;
}
body{
	background-color: #eaeaea!important;
}
.add{
	padding :10px!important;
	margin: 5px;
}
